.container{}

.disk {
  padding: 16px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: black;
}

.sketch {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
}
